.App-header {
	background-color: white;
	height: 50px;
	color: #555;
	font-family: "Helvetica Neue";
	font-size: 2em;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.PhotoGrid {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.PhotoRow {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}
