.PhotoGrid {
	line-height: 0;
	
	-webkit-column-count: 5;
	-webkit-column-gap: 5px;
	-moz-column-count: 5;
	-moz-column-gap: 5px;
	column-count: 5;
	column-gap: 5px;
}

.PhotoGrid .Photo {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
}

.Photo {
	padding-bottom: 5px !important;
}